<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Pipelines.Loader.ShowVersion, Sitecore.Kernel">
          <assemblies>
            <assembly reference="392673">/bin/Sitecore.Support.392673.dll</assembly>
          </assemblies>
        </processor>
      </initialize>
    </pipelines>
    <scheduling>
      <agent type="Sitecore.Tasks.CleanupEventQueue, Sitecore.Kernel">
        <patch:delete />
      </agent>
      <agent type="Sitecore.Support.Tasks.CleanupEventQueue, Sitecore.Support.392673" method="Run" interval="01:00:00">
        <param desc="MinutesToKeep">60</param>
      </agent>
    </scheduling>
  </sitecore>
</configuration>